/* Add CSS Styling */
.odd {
    background-color: rgb(248, 137, 196);
    font-family: Verdana, "DeJavu Sans", sans-serif;
}

#second {
    color: rgb(47, 143, 239);
    font-size: 36px;
}

.cool {
    font-size: 24px;
}

#fourth {
    background-color: rgb(75, 255, 126);
    font-weight: bold;
}